
@font-face {
  font-family: 'Source Serif 4';
  src: url('../fonts/SourceSerif4-Light.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('../fonts/SourceSerif4-SemiBold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
	box-sizing: border-box;
  color: #333;
}

.container {
	max-width: 1200px;
  margin: 67px auto;
  padding: 0 15px;
}

.divider {
	max-width: 580px;
	border-top: 1px solid #333;
}

h1 {
	font-size: 19px;
	font-family: 'Source Serif 4', serif;
	font-weight: 700;
	margin: 23px auto;
}

p {
	font-size: 14px;
  font-family: 'Source Serif 4', serif; 
  font-weight: 400;
  margin: 6px 0px;
}
